.carousel-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.center-content {
  text-align: center;
}

.image-carousel .carousel .control-dots .dot {
  background-color: red !important;
}
