/* image slider */
.carousel {
  position: relative;
}

/* Custom styles for the headings and buttons */
.carousel-caption {
  text-align: center;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  color: var(--secondary-color);
}

.custom-btn {
  margin-right: 10px;
  color: var(--secondary-color);
  border: none;
  padding: 9px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.red-btn {
  background-color: var(--primary-color);
}

.gray-transparent-btn {
  background-color: transparent;
  border: 1px solid #ccc;
}

.gray-transparent-btn:hover {
  background-color: #d3cccc;
  color: black;
}

.section {
  text-align: center;
  position: relative;
  padding: 60px 0px;
}
.section > p {
  color: #000;
}

.section-heading {
  position: relative;
  text-align: center;
  color: var(--section-heading);
  font-size: 24px;
  margin: 40px 0;
  font-weight: 600;
}

.section-heading::before,
.section-heading::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 10%;
  height: 1px;
  background-color: var(--primary-color);
}

.section-heading::before {
  left: 360px;
}

.section-heading::after {
  right: 360px;
}

.section-heading-testimonial {
  position: relative;
  text-align: center;
  color: var(--section-heading);
  font-size: 24px;
  margin: 40px 0;
  font-weight: 600;
}

.section-heading-testimonial::before,
.section-heading-testimonial::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 10%;
  height: 1px;
  background-color: var(--primary-color);
}

.section-heading-testimonial::before {
  left: 295px;
}

.section-heading-testimonial::after {
  right: 295px;
}

/* Custom styles for the section */
.custom-section {
  padding: 40px 0;
}

/* Custom styles for the boxes */
.custom-box {
  padding: 20px;
  text-align: center;
}

.custom-box > div {
  border: 1px solid #ccc;
}
.custom-box > div > h3 {
  font-size: 20px;
}

.custom-icon {
  color: var(--primary-color);
  font-size: 50px;
  margin-bottom: 10px;
}

/* background image section */
.contact-section1 {
  background: url("../../../public/assets/bg01.jpg") center/cover no-repeat;
  position: relative;
  height: 400px;
  color: var(--secondary-color);
  text-align: center;
  padding: 115px;
  z-index: 1;
}

/* Gray transparent overlay */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--overlay-color);
  z-index: -1;
}

/* Custom styles for the text */
.contact-heading {
  font-size: 36px;
  margin-bottom: 20px;
}

.contact-paragraph {
  font-size: 18px;
  margin-bottom: 30px;
}

/* Custom styles for the button */
.red-btn {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.red-btn:hover {
  background-color: var(--hover-color-onbutton);
}

/* footer section */
.contact-section h4 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 500;
  line-height: 1.2;
}
.contact-section {
  background-color: var(--black-background);
  color: var(--secondary-color);
  padding: 35px 0 0px;
  text-align: center;
}
.contact-section > div {
  border-bottom: 1px solid #ffffff57;
  /* width: 80%; */
  /* margin-left: 10%; */
}

.contact-subsection {
  margin-bottom: 30px;
}

.contact-icon {
  color: var(--footer-icon-color);
  font-size: 36px !important;
  /* margin-bottom: 10px;
  float: left; */
}

.contact-heading {
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
}

.contact-text {
  font-size: 18px;
  text-align: left;
  padding-left: 45px;
}

.copyright-section {
  background-color: var(--gray-background); /* Gray background color */
  color: var(--secondary-color); /* White text color */
  text-align: center;
  padding: 10px 0;
}

@media (max-width: 768px) {
  .carousel .slide img {
    height: 500px;
  }

  .carousel .slider-wrapper {
    height: auto !important;
  }
  .image-carousel h2 {
    font-size: 15px;
  }

  .image-carousel h1 {
    font-size: 23px;
  }
  .custom-btn {
    padding: 5px 10px;
  }

  .section-heading::before {
    left: 73%;
    width: 20%;
  }
  .section-heading::after {
    right: 73%;
    width: 20%;
  }

  .testimonial {
    font-size: 15px !important;
    padding: 0px 0px !important;
  }
  .footer-container {
    flex-direction: column;
  }

  .footer-section {
    margin-bottom: 20px;
  }
}

.text-justify {
  text-align: justify;
}

.testimonial {
  font-size: 20px;
  /* padding: 0px 70px; */
  color: gray !important;
}
.carousel .slider-wrapper {
  height: 650px;
}

.testimonial-section .carousel .slider-wrapper {
  height: 200px !important;
}

/* .cta-text {
  text-align: left;
  margin-left: 20px;
} */

.footer-container {
  display: flex;
  justify-content: space-between;
  background-color: var(--black-background);
  color: var(--secondary-color);
  padding: 35px 0;
}

.footer-section {
  display: flex;
  align-items: center;
}

.icon-container {
  margin-right: 10px; /* Adjust the spacing between icon and text */
}

.text-container {
  flex-grow: 1;
}

.footer-section-bottom {
  display: flex;
  justify-content: space-around;
  background-color: #f0f0f0;
  padding: 20px;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  padding: 0;
  color: var(--gray-text);
}

li {
  margin-bottom: 8px;
}

li:hover {
  /* color: red; */
  cursor: pointer;
}

/* a {
  text-decoration: none;
  color: #333;
}

a:hover {
  text-decoration: underline;
} */

.footer-section-botton1 {
  width: 33%;
  text-align: left;
}

.footer-section-botton1 p {
  color: var(--gray-text);
}

.footer-section-botton3 {
  width: 33%;
  text-align: left;
}

.footer-section-botton3 p {
  color: var(--gray-text);
}

.subscribe-form {
  position: relative;
  overflow: hidden;
}
.subscribe-form input {
  width: 100%;
  padding: 14px 28px;
  background: var(--gray-background);
  border: 1px solid var(--gray-background);
  color: #fff;
}

.subscribe-form button {
  position: absolute;
  right: 0;
  background: var(--footer-icon-color);
  padding: 15px 20px;
  border: 1px solid var(--footer-icon-color);
  top: 0;
}

.subscribe-form button i {
  color: #fff;
  font-size: 18px;
}
