/* ContactForm.css */

.sidebar-item {
  background-color: #f8f9fa;
  padding-top: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.sidebar-heading h2 {
  color: #343a40;
}

.form-group {
  margin-bottom: 20px;
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 4px;
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
  border: none;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.contact-information {
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-information h6 {
  margin-bottom: 10px;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  margin-bottom: 20px;
}

/* Responsive styling */
@media (max-width: 768px) {
  .col-md-6 {
    margin-bottom: 20px;
  }
}

.sidebar-heading h2 {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.5px;
  color: #20232e;
  border-bottom: 1px solid #eee;
  padding-bottom: 15px;
  margin-bottom: 25px;
}

.sidebar-item .content span {
  font-size: 14px;
  color: #aaa;
  margin-top: 8px;
}

.sidebar-item .content ul li {
  margin-bottom: 70px;
}
