/* :root {
  --primary-color: #ef0007;
  --secondary-color: #fff;
  --header-top: #333333d1;
  --overlay-color: rgba(0, 0, 0, 0.5);
  --black-background: #000;
  --gray-background: #555;
  --section-heading: #333;
  --footer-icon-color: #ef0007;
  --border-bottom-active: #ef0007;
  --hover-color-onbutton: #cc0000;
  --gray-text: gray;
} */

:root {
  --primary-color: #0453ad;
  --secondary-color: #fff;
  --header-top: #0453adeb;
  --overlay-color: rgba(0, 0, 0, 0.5);
  --black-background: #0453ad;
  --gray-background: #0453ad9e;
  --section-heading: #0453ad;
  --footer-icon-color: #ef0007;
  --border-bottom-active: #fff;
  --hover-color-onbutton: #0f75e9;
  --gray-text: #fff;
}
